<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rephrase Genius</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
                <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root"
                         style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s"
                         style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s"
                         style="flex-grow: 1;"></div>
                </div>
            </div>
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="#" rel="dofollow">Rephrase Genius</a></h1>
            </div>
            <table>
                <tr>
                    <td width="50%">
                        <div class="formbg-outer">
                            <div class="formbg">
                                <div class="formbg-inner padding-horizontal--48">
                                    <span class="padding-bottom--15">Original Text:</span>
                                    <form id="myform" id="myform" action="/maintanetext" method="post">
                                        <div class="field padding-bottom--24">
                                            <label for="email"></label>
                                            <textarea name="user_text" cols="68" rows="18" class="my-textarea"
                                                      value="{{ user_text }}">{{ user_text }}</textarea>
                                        </div>
                                        <div class="field padding-bottom--24">
                                            <table style="align-content: center; width: 100%;">
                                                <tr>
                                                    <td colspan="2">
                                                        <span class="padding-bottom--15">Mode:</span>
                                                        <select name="mode" id="mode" style="width: 100%; height: 30px; margin-bottom: 20px; font-size: 14px;">
                                                            <option value="0">Standard</option>
                                                            <option value="1">Fluency</option>
                                                            <option value="2">Formal</option>
                                                            <option value="3">Simple</option>
                                                            <option value="4">Creative</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr style="align-content: center">
                                                    <td><input type="button" name="rephrase" id="rephrase" value="Rephrase" onclick="whensubmit('rephrase')"></td>
                                                    <td><input type="button" name="summary" id="summary" value="Summary" onclick="whensubmit('summary')"></td>
                                                </tr>
                                            </table>
                                            <input type="hidden" name="action" id="action" value=""/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="50%">
                        <div class="formbg-outer">
                            <div class="formbg">
                                <div class="formbg-inner padding-horizontal--48">
                                    <span class="padding-bottom--15">New paragraph:</span>
                                    <div class="field padding-bottom--24">
                                        <label for="email"></label>
                                        <textarea class="my-textarea" name="maintained_text" id="maintained_text" cols="68" rows="27" value="{{  maintained_text }}">{{ maintained_text }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 20%;align-content: center">

                    </td>
                </tr>
            </table>
            <div class="align-center">
                <p class="align-center" style="text-align: center; margin-top: 20px;">
                    <a href="/" style="align-content: center">
                        Home
                    </a>
                </p>
            </div>
            <div class="align-center">
                <p class="align-center" style="text-align: center; margin-top: 20px;">Powered By: <a class="footer-link"
                                                                                                     target="_blank"
                                                                                                     href="https://www.brontomind.tech/">BrontoMind
                    AI Platform</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    function whensubmit(txt){
        var txt = txt;
        document.getElementById("action").value = txt;
        document.getElementById('myform').submit();
    }
</script>
</body>
</html>